[Unit]
Description=Off-Grid Portable Multimedia Radio Network Server Daemon
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/OffGridRadioServer
ExecStart=/usr/bin/python3 /home/pi/OffGridRadioServer/main_server.py
Restart=always
RestartSec=5s
StandardOutput=journal
StandardError=journal
SyslogIdentifier=offgrid-radio-server

[Install]
WantedBy=multi-user.target
